<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://localhost/tm5sk/templates/assets/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <?php include 'header.html'; ?>
    </header>
    <section>
        <?php include 'cards/cards.html'; ?>
    </section>

    <!--footer-->
    <footer>
        <?php include 'footer/footer.html'; ?>
    </footer>
    <!--js-->
    <script src="http://localhost/tm5sk/templates/assets/js/bootstrap.min.js" ></script>
</body>
</html>